#agregar {
    padding: 10px;
    float:right;
    margin: 35px;
}


.botonGenerico,button{
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
    padding: 8px;;
    border-color:darkolivegreen ;

}